<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo">
        <div class="container text-center text-white jumbo-container">
            <h1 class="display-3">Moje produkty</h1>
        </div>
    </div>

    <!--/*@thymesVar id="product" type="pl.kate.OnlineShoppingApplication"*/-->
    <section class="products" th:object="${product}">
        <div class="product" th:each="product : ${productList}">
            <p class="name" th:text="${product.id}">Product ID</p>
            <p class="name" th:text="${product.name}">Name</p>
            <p class="name" th:text="${product.img}">IMG</p>
            <p class="price" th:text="${product.price}">Price</p>
            <p class="name" th:text="${product.category}">Category</p>
            <p class="description" th:text="${product.description}">Desc</p>
        </div>
    </section>
</div>
</body>
</html>